# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Loading the city weather csv
weather_df = pd.read_csv("cities.csv", index_col = 0)
weather_df.head()

,City,Latitude,Longitude,Temperature (°F),Humidity,Cloudiness,Wind Speed (mph),Country,Date Time
0,tuktoyaktuk,70.359980,-129.812208,12.20,79,40,26.46,CA,1619050005
1,albany,-73.542428,101.000029,37.00,55,79,13.18,US,1619049991
2,beringovskiy,54.447493,175.503084,27.90,74,67,4.32,RU,1619050570
3,la asuncion,12.671419,-64.225423,76.95,83,1,14.94,VE,1619050571
4,punta arenas,-76.702237,-111.875297,41.00,60,0,6.91,CL,1619050450

In [3]:
#Capitalizing the city names
def capital(x):
    y = str(x).title()
    return y

weather_df["City"] = weather_df.City.apply(capital)

print(weather_df["City"])

0        Tuktoyaktuk
1             Albany
2       Beringovskiy
3        La Asuncion
4       Punta Arenas
           ...
622     Nueva Gerona
623    Warin Chamrap
624            Kieta
625          Tigzirt
626            Mango
Name: City, Length: 572, dtype: object

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#Configure gmaps
gmaps.configure(api_key = g_key)

In [5]:
#Use lat and long to create coordinates
locations = weather_df[["Latitude", "Longitude"]]

#Use humidity as weighting
humidV = weather_df["Humidity"].astype(float)

#Configuring the layout of the map
figure_layout = {
    'width': '800px',
    'height': '800px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

#Plot heatmap
figV = gmaps.figure(layout=figure_layout, zoom_level = 3, center = (33.7, -84.4))

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidV, dissipating = False,
                                max_intensity = 10, point_radius = 2, opacity = .4)

#Add layer
figV.add_layer(heat_layer)

#Display Figure
figV

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#Creating a subset df based upon maximum temperature, wind speed, cloudiness, and humidity parameter
best_vac_df = weather_df[(weather_df["Temperature (°F)"]<=82) & (weather_df["Temperature (°F)"]>=60)
                        & (weather_df["Wind Speed (mph)"]<=10) 
                        & (weather_df["Cloudiness"] <= 10)
                        & (weather_df["Humidity"] <= 50)]
best_vac_df

,City,Latitude,Longitude,Temperature (°F),Humidity,Cloudiness,Wind Speed (mph),Country,Date Time
253,Coxim,-17.485146,-55.447015,75.11,40,0,2.26,BR,1619050863
254,Alice Springs,-20.796557,133.334354,73.99,26,0,6.91,AU,1619050864
272,Hasaki,29.497870,148.172967,68.00,34,0,6.91,JP,1619050885
318,Nara,16.516020,-7.296164,66.00,29,0,1.14,JP,1619050881
375,Clearlake,39.141920,-122.460177,75.99,37,1,3.00,US,1619050976
382,Lazaro Cardenas,1.698233,-110.600509,81.73,47,1,9.35,MX,1619051013
508,Faya,18.297972,21.063866,62.60,31,0,5.32,SA,1619051160
543,Abha,18.922640,41.600128,62.60,31,0,3.29,SA,1619051201
567,Buraydah,25.839326,44.935822,71.60,33,0,2.30,SA,1619051229
577,Khanpur,28.729497,70.739569,77.95,33,1,8.57,PK,1619051241
581,Katsuura,24.952909,147.386462,68.00,45,0,4.61,JP,1619051246
585,Lashio,22.069047,97.860612,67.64,38,0,1.01,MM,1619051250
618,Oildale,35.602569,-118.904207,78.01,31,1,9.22,US,1619051289

In [7]:
print(len(best_vac_df))

13

In [8]:
#Fix lat lng coordinates to actually match the center of these cities

params ={"key": g_key}

#Loop through cities and correct coordinates for lat and long
for index, row in best_vac_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    city = row["City"]
    country = row["Country"]
    
    #Add these items to search query
    params["address"] = f"{city}, {country}"
    
    #Make request
    cities_lat_lng = requests.get(base_url, params=params)
    cities_lat_lng = cities_lat_lng.json()
    
    #Overwrite lat lng values with center of the city coordinates
    best_vac_df.loc[index, "Latitude"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
    best_vac_df.loc[index, "Longitude"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]

C:\Users\dlken\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [9]:
best_vac_df

,City,Latitude,Longitude,Temperature (°F),Humidity,Cloudiness,Wind Speed (mph),Country,Date Time
253,Coxim,-18.502993,-54.749231,75.11,40,0,2.26,BR,1619050863
254,Alice Springs,-23.698042,133.880747,73.99,26,0,6.91,AU,1619050864
272,Hasaki,35.760082,140.809226,68.00,34,0,6.91,JP,1619050885
318,Nara,34.685109,135.804802,66.00,29,0,1.14,JP,1619050881
375,Clearlake,38.958231,-122.626373,75.99,37,1,3.00,US,1619050976
382,Lazaro Cardenas,17.956765,-102.194349,81.73,47,1,9.35,MX,1619051013
508,Faya,34.032453,-117.594897,62.60,31,0,5.32,SA,1619051160
543,Abha,18.246468,42.511724,62.60,31,0,3.29,SA,1619051201
567,Buraydah,26.359231,43.981812,71.60,33,0,2.30,SA,1619051229
577,Khanpur,28.633183,70.657369,77.95,33,1,8.57,PK,1619051241
581,Katsuura,35.152227,140.320883,68.00,45,0,4.61,JP,1619051246
585,Lashio,22.966458,97.752535,67.64,38,0,1.01,MM,1619051250
618,Oildale,35.419680,-119.019545,78.01,31,1,9.22,US,1619051289

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
#Re-saving hotel df and inserting a blank column called hotel name
hotel_df = best_vac_df

#Storing NaN in hotel name for ease of removing missing data later
hotel_df["Hotel Name"] = np.NaN

hotel_df

C:\Users\dlken\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,City,Latitude,Longitude,Temperature (°F),Humidity,Cloudiness,Wind Speed (mph),Country,Date Time,Hotel Name
253,Coxim,-18.502993,-54.749231,75.11,40,0,2.26,BR,1619050863,NaN
254,Alice Springs,-23.698042,133.880747,73.99,26,0,6.91,AU,1619050864,NaN
272,Hasaki,35.760082,140.809226,68.00,34,0,6.91,JP,1619050885,NaN
318,Nara,34.685109,135.804802,66.00,29,0,1.14,JP,1619050881,NaN
375,Clearlake,38.958231,-122.626373,75.99,37,1,3.00,US,1619050976,NaN
382,Lazaro Cardenas,17.956765,-102.194349,81.73,47,1,9.35,MX,1619051013,NaN
508,Faya,34.032453,-117.594897,62.60,31,0,5.32,SA,1619051160,NaN
543,Abha,18.246468,42.511724,62.60,31,0,3.29,SA,1619051201,NaN
567,Buraydah,26.359231,43.981812,71.60,33,0,2.30,SA,1619051229,NaN
577,Khanpur,28.633183,70.657369,77.95,33,1,8.57,PK,1619051241,NaN
581,Katsuura,35.152227,140.320883,68.00,45,0,4.61,JP,1619051246,NaN
585,Lashio,22.966458,97.752535,67.64,38,0,1.01,MM,1619051250,NaN
618,Oildale,35.419680,-119.019545,78.01,31,1,9.22,US,1619051289,NaN

In [11]:
#Find the closest hotel
params = {"key": g_key,
          "radius": 5000,
          "types": "lodging"}

#Loop through potential hotel list and search for nearest hotel

for index,row in hotel_df.iterrows():
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    #Adding city lat and lng coordinates to search query parameters
    params["location"] = f"{lat},{lng}"
    
    #Google Places Request
    hotel_find = requests.get(base_url, params = params)
    hotel_find = hotel_find.json()
    
    # Use a try except to handle missing hotel data
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_find["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("No data available.")

hotel_df.head()

C:\Users\dlken\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,City,Latitude,Longitude,Temperature (°F),Humidity,Cloudiness,Wind Speed (mph),Country,Date Time,Hotel Name
253,Coxim,-18.502993,-54.749231,75.11,40,0,2.26,BR,1619050863,Hotel Avenida
254,Alice Springs,-23.698042,133.880747,73.99,26,0,6.91,AU,1619050864,Desert Palms Alice Springs
272,Hasaki,35.760082,140.809226,68.00,34,0,6.91,JP,1619050885,Hotel Sunrise Choshi
318,Nara,34.685109,135.804802,66.00,29,0,1.14,JP,1619050881,Guesthouse Nara Komachi
375,Clearlake,38.958231,-122.626373,75.99,37,1,3.00,US,1619050976,Americas Best Value Inn & Suites Clearlake Win...

In [12]:
#Drop any cities without a  hotel nearby
hotel_df = hotel_df.dropna()
hotel_df

,City,Latitude,Longitude,Temperature (°F),Humidity,Cloudiness,Wind Speed (mph),Country,Date Time,Hotel Name
253,Coxim,-18.502993,-54.749231,75.11,40,0,2.26,BR,1619050863,Hotel Avenida
254,Alice Springs,-23.698042,133.880747,73.99,26,0,6.91,AU,1619050864,Desert Palms Alice Springs
272,Hasaki,35.760082,140.809226,68.00,34,0,6.91,JP,1619050885,Hotel Sunrise Choshi
318,Nara,34.685109,135.804802,66.00,29,0,1.14,JP,1619050881,Guesthouse Nara Komachi
375,Clearlake,38.958231,-122.626373,75.99,37,1,3.00,US,1619050976,Americas Best Value Inn & Suites Clearlake Win...
382,Lazaro Cardenas,17.956765,-102.194349,81.73,47,1,9.35,MX,1619051013,Hotel Quinta Antigua
508,Faya,34.032453,-117.594897,62.60,31,0,5.32,SA,1619051160,Holiday Inn Express & Suites Ontario Airport
543,Abha,18.246468,42.511724,62.60,31,0,3.29,SA,1619051201,Mawasem Al Sharqiah ApartHotel
567,Buraydah,26.359231,43.981812,71.60,33,0,2.30,SA,1619051229,Mövenpick Hotel Qassim
577,Khanpur,28.633183,70.657369,77.95,33,1,8.57,PK,1619051241,Ahmad bartan store
581,Katsuura,35.152227,140.320883,68.00,45,0,4.61,JP,1619051246,Katsuura Hotel Mikazuki
585,Lashio,22.966458,97.752535,67.64,38,0,1.01,MM,1619051250,Great City Hotel
618,Oildale,35.419680,-119.019545,78.01,31,1,9.22,US,1619051289,DoubleTree by Hilton Hotel Bakersfield

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#I changed the names to match to my hotel_df
locations = hotel_df[["Latitude", "Longitude"]]

In [14]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Display figure
figV.add_layer(markers)
figV

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='1px', wi…